{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm mb-4">
            <a role="button" class="btn btn-success" href="{{ url_for('create_menu', restaurant_id=restaurant_id) }}">Add New Menu Item</a>
        </div>
    </div>
    <p>You currently have {% if menuItems %} {{ menuItems|length }} {% else %} no {% endif %} menu items.</p>
    <div class="container">
        <div class="row">
        {% for menuItem in menuItems %}
                {% include 'menuItemCard.html' %}
        {% endfor %}
        </div>

    </div>
</div>
{% endblock %}