{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{{ url_for('create_menu', restaurant_id=restaurant_id) }}" method="post">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="name" value="{{ request.form.name }}" placeholder="Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputDescription" name="description" value="{{ request.form.description }}" placeholder="Description">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPrice" name="price" value="{{ request.form.price }}" placeholder="Price">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-legend col-sm-2">Course:</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="course" id="gridRadios1" value="{{ request.form.course }}" checked>
                Appetizer
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="course" id="gridRadios2" value="{{ request.form.course }}">
                Entree
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="course" id="gridRadios3" value="{{ request.form.course }}">
                Dessert
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="course" id="gridRadios4" value="{{ request.form.course }}">
                Beverage
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}